<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test" parallel="tests">
    <packages>
      <package name="Jan22"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
